
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/bin/
/config/
/public/
composer.lock
symfony.lock
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
